<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monthly statistic</title>
    <link rel="stylesheet" href="static/stylesheet.scss">
</head>
<body bgcolor="yellow">
<img src="static/image.jpg">
<h1>Hey Maayan!</h1>
<form action="{{ url_for('generate_statistic') }}" method="post">
  <label> From: </label>
  <input type="date" id="from"  value={{from_date}} name="from">
  <label>To:    </label>
  <input type="date" id="to" value={{to_date}} name="to">
    <input type="submit" value="Generate monthly statistic">
</form>

<h2>נשיקות</h2>
</body>
</html>